*{
    box-sizing: border-box;
  }
  body{
    text-align:center;
    background-image: url(../images/fond.jpg) ;
    background-attachment: repeat;
  }

  td.bord{
    border-top:2px solid black; border-bottom:2px solid black;
  }
  td.bord2{
    border-right:2px solid black; border-left:2px solid black;
  }
  td.bord3{
    border-right:2px solid black;
    border-left:2px solid black;
    border-top:2px solid black;
    border-bottom:2px solid black;
  }
  table{
  margin-left:60vh;
  border: 0;
  }
  img{
    max-width: 200px;
    height: auto;
  }
.nav a{
    font-family:'Amatic SC', cursive;
    font-size: 5vh;
    color: black;
    text-decoration: none; 
 text-align: center;
  }
/* Fomrulaire */
/* Formulaire */
.visibleForm{
  visibility: visible;
}
form{
position: fixed top;
z-index: 2;
font-family:'Amatic SC', cursive;
}
.invisibleForm{
  visibility: hidden;
}
