* {
    box-sizing: border-box;
}
/* FONT  */
h1{
    font-family:'Titan One', cursive;
    text-align: center; 
    font-size: 10vh;
}
a{
    font-family:'Amatic SC', cursive;
    font-size: 5vh;
    color: white;
    text-decoration: none; 
 text-align: center;
}

/* IMAGE DE FOND */
body{
    background-image: url(images/fond.jpg);
}

/* NAV  */
.nav{
    display: flex;
   justify-content: space-around;
}

/* CARRÉ DE NAV  */
 .back{
	width:100px;
	height:100px;
    background:darkgrey;
    backface-visibility: hidden;
}
 .back:hover{
    visibility: hidden;
}
/*  ROTATION SUR Y */
#container {
  position: relative;
  margin: 50px auto;
  width: 100px;
  height: 100px;
  z-index: 1;
/* margin-left: 800px; */
}
#container {
  perspective: 1000;
}
#carte {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}
#container:hover #carte {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  backface-visibility: hidden;
}
.face.verso {
  transform: rotateY(180deg);
}

