/* Positionnemeent des cartes */
.cards-container {
  display: flex;
  flex-flow: wrap;
  max-width: 150vh;
  max-height: 250vh;
  margin-left: 35vh;
}

/* Donner une taille aux images pour l'instant cachées  */
img {
  width: 20vh;
  height: 20vh;
  max-width: 100%;
  height: auto;
  display: none;
}

/* Donner une taille aux versos des cartes */
figure {
  margin: 12px;
  width: 20vh;
  height: 20vh;
  background: tomato;
}

/*  Afficher les images quand elles sont cliqués*/
.show img {
  display: block;
}

/* Classe que l'on utilise pour cacher les cartes */
.invisible, .invisibleForm{
  visibility: hidden;
}

/* Apparence affichage du score  */
.score{
text-align: center;
  font-family:'Amatic SC', cursive;
  font-size: 5vh;
  color: black;
}

/* Formulaire */
.visibleForm{
  visibility: visible;
}
form{
position: fixed top;
z-index: 2;
font-family:'Amatic SC', cursive;
}

.nav a{
  font-family:'Amatic SC', cursive;
  font-size: 8vh;
  color: black;
  text-decoration: none; 
margin-left: 97vh;
}
body{
  background-image: url(../images/fond.jpg);
}